<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>

        <div class="wrapper">
            {{>header}}
            <p class='someText'>Use this site to get your weather. I made a small change</p>

            <form class='form'>

                <input type="text" name="address" id="address" placeholder="Location">

                <button>Submit</button>


            </form>

            <div class="weatherInfo"></div>


        </div>

        
        {{>footer}}
        
        <script src="/js/app.js"></script>
    </body>
</html>